@import "materialize/components/color";
@import "materialize";

$oldrose: #990033;
$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

* {
    font-family: Montserrat;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
a {
  color: darken($oldrose, 20%);
  &:hover {
    color: darken($oldrose, 10%);
  }
  &.navbar-font-white {
    color: #111;
  }
  @media(min-width: $lg) {
    &.navbar-font-white {
      color: #fff;
    }
  }

}

footer.oldrose-background, nav.oldrose-background {
    background-color: $oldrose;
}

p.indent {
    text-indent: 50px;
}

div.overlay {
   background:transparent;
   position:relative;
   width:480px;
   height:360px; /* your iframe height */
   top:360px;  /* your iframe height */
   margin-top:-360px;  /* your iframe height */
}



